body {
    margin: 0;
}

#app {
    background: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url('../assets/weights.png');
    background-size: cover;
    background-position-x: -200px;
}

@media only screen and (min-width: 800px) {
    background-position-x: 0px;
}